<div class="page-header">
	<div class="row">
		<div class="col-md-8">
			<h2>Editing <%= singular_table_name %></h2>
		</div>
		<div class="col-md-4 text-right">
			<%%= link_to 'Back', <%= prefixed_index_helper %>_path, class: 'btn btn-default' %>
		</div>
	</div>
</div>

<%%= render 'form' %>