<div class="page-header">
  <%%= link_to <%= prefixed_index_helper %>_path, class: 'btn btn-default pull-right' do %>
    <i class="glyphicon glyphicon-list-alt"></i>
    Back
  <%% end %>
  <h1>New <%= human_name %></h1>
</div>

<%%= render 'form' %>

